body {
	background-color: #1687a7;
	color: #ffc75f;
}

a {
	text-decoration: none;
	color: white;
}

.wrapper {
	margin-top: 150px;
	margin-left: 150px;
	width: 50%;
	height: 60%;
	outline: 2px solid black;
	outline-offset: 60px;
}

.user_info {
	display: flex;
	justify-content: space-between;
}

.user_info * {
	margin: 0;
}

.user_info  h2 {
	font-family: 'Audiowide', cursive;
	font-size: 40px;
}

.user_info  p {
	width: 35vw;
	margin-top: 7px;
	font-size: 1.6vw;
}

.user_photo {
	height: 198px;
}

.user_refernces {
	margin-top: 30px;
	font-size: 27px;
	display: flex;
	justify-content: space-between;
	width: 15vw;
	align-items: center;
}

.fa-twitter {
	font-size: 21px;
	color: white;
}
